@tailwind base;
@tailwind components;
@tailwind utilities;

.checkIconCircle {
  stroke-dasharray: 250px;
  animation: circle_move 1s;
}

.checkIconLine {
  stroke-dasharray: 65px;
  animation: line_move 1.5s;
}

@keyframes circle_move {
  0% {
    stroke-dashoffset: 250px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes line_move {
  0% {
    stroke-dashoffset: 65px;
  }
  60% {
    stroke-dashoffset: 65px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

#star {
  transform-origin: center;
  animation: star 1.7s linear;
}

@keyframes star {
  from {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1) rotate(180deg);
    opacity: 0.8;
  }
  to {
    transform: scale(0) rotate(360deg);
    opacity: 0;
  }
}

.drop {
  transform-origin: 50% 87.88%;
}

.drop {
  animation: drop 1s linear;
}

@keyframes drop {
  from {
    transform: rotate(10deg) translateY(-90%) scaleY(1);
  }
  to {
    transform: rotate(10deg) translateY(100%) scaleY(1);
  }
}
